body {
    background-image:url("../images/background.jpg");
}

.container {
    text-align:center;
}
#heading {
    font-size:50px;
    font-weight:bolder;
    color:white;
    padding:30px 30px 5px 30px;
    text-shadow: 3px 3px 4px turquoise;
}

.btn {
    margin-top:10%;
    font-size:20px;
    background-color: turquoise;
}

#question-area {
    background:white;
    text-align:left;
    box-shadow: 5px 5px 20px turquoise;
    padding-top:20px;
    font-size:20px;
}

#time-remaining {
    padding-top:10px;
    background:white;
    box-shadow: 5px 5px 20px turquoise;
    margin-bottom:10px;
    font-size:20px;
}

#evaluation-area{
    text-align:center;
    padding-top:150px;
    padding-bottom:150px;
    font-size:24px;
    background:white;
    box-shadow: 5px 5px 20px turquoise;
}

label {
    padding-left:7px;
}
#question-area {
    padding-left:30px;
}

